
td > input:focus{
    width: 98%;
    height: 98%;
    padding: 0% !important;
    margin: 0% !important;

    /* position: relative !important;
    float: left;
    top: 3%;
    bottom: 2%; */
}

td {
    /* width: 100px;
    height: 50px;
    overflow: scroll; */
    max-width: 50px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

    border: 1px solid rgba(138, 138, 138, 0.527) !important;
    text-align: center;
    vertical-align: middle;

    padding: 0.1% !important;

}

th {
    max-width: 100px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
/*    width: 40px;
    height: 50px; */
    /* background-color: rgba(196, 186, 186, 0.925) !important; */
    background-color: rgba(185, 185, 185, 0.925) !important;
    text-align: center;
    border: 2px solid black !important;

}
/* Cible les images dontenues dans la drop down. */
.dropdown-menu > li > img {
    width: 32px;
    height: 32px;
}

.btn{
  border: 1px solid black;
  background-color: rgba(224,224,224,0.2);
  border-radius: 50px;
}

.btn:hover {
    background-color: black;
    color: white !important;
}

.btn:focus {
    box-shadow: none;
}