p {
    /* display: inline-block; */
    max-width: fit-content;
    clear: both;
    /* border: 1px solid rgba(0, 0, 0, 0.7); */
    border-radius: 5px;
    padding: 10px;
}
p.sendMess {
    align-self: flex-end;
    background-color: rgba(119, 189, 230, 0.5);
}
p.receiveMess {
    align-self: flex-start;
    background-color: rgba(119, 230, 128, 0.5);
}
#message {
    background-color: rgb(212, 212, 212);
    padding: 10px;
}
#listMessage {

    border: 1px solid black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    overflow-y: scroll;
    height: 200px;
}
