
td > input:focus{
    width: 98%;
    height: 98%;
    padding: 0% !important;
    margin: 0% !important;
}

td {
    /* width: 100px;
    height: 50px;
    overflow: scroll; */
    max-width: 50px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

    border: 1px solid rgba(138, 138, 138, 0.527) !important;
    text-align: center;
    vertical-align: middle;

}

th {
    max-width: 100px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
/*    width: 40px;
    height: 50px; */
    /* background-color: rgba(196, 186, 186, 0.925) !important; */
    background-color: rgba(185, 185, 185, 0.925) !important;
    text-align: center;
    border: 2px solid black !important;

}