
td > input:focus{
    width: 98%;
    height: 98%;
}

td {
    /* width: 100px;
    height: 50px;
    overflow: scroll; */
    max-width: 50px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

th {
    max-width: 100px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
/*    width: 40px;
    height: 50px; */
    background-color: rgba(196, 186, 186, 0.925) !important;
}