div {
    background-color: rgb(41, 231, 231);
    padding: 15px;
    margin: 10px;
}

#p1 {
    background-color: rgb(216, 161, 59);
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

#target {
    background-color: rgb(75, 163, 197);
}

#target2 {
    background-color: rgb(108, 123, 129);
}

#start {
    background-color: rgb(60, 155, 103);
}

.bigbox {
    background-color: rgb(131, 11, 11);
}

#bb1 {
    background-color: rgb(255, 217, 0);
}
#bb2 {
    background-color: rgb(2, 138, 21);
}
#bb3 {
    background-color: rgb(0, 17, 255);
}
